.page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.total {
    width: 25%;
}

.buy-phase {
    width: 70%;
}

.total-box {
    border: solid 4px #208f20;
}

.total-content {
    padding: 0 1vh 1vh 1vh;
}

p.total-title-text {
    margin: 0;
    padding: 2vh;
    background: linear-gradient(#208f20, #56d28f);
    color: #FDFFFF;
    font-size: 2.5vh;
}

.summary-number {
    display: flex;
    justify-content: space-between;
}