html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Lato,Helvetica,Arial,tahoma,"Hiragino Maru Gothic Pro","Microsoft YaHei","Hiragino Sans GB",sans-serif;
    background-color: #eaeaea;
}

/* MENU BAR */

.menu-bar {
    background-color: #272726;
    height: 12vh;
    box-shadow: 0 5px 11px grey;
    color: #FDFDFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-name-div {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-name {
    margin: 0 0 0 3vh;
    font-size: 3vh;
    cursor: pointer;
}

.menu-cart {
    height: 100%;
    display: flex;
    align-items: center;
}

.fa-cart-shopping {
    padding: 2vh;
    font-size: 3vh;
    background: black;
    border-radius: 5vh;
    margin: 0 3vh 0 0;
    cursor: pointer;
}

/* ITEMS */

.buy-phase {
    display: flex;
    height: 70%;
    margin-top: 10vh;
    justify-content: center;
}

.item-image {
    display: flex;
    justify-content: center;
}

.item-image > img {
    width: 35vh;
}

.item {
    border: solid #5151513b 1px;
    padding: 1vh;
    height: 80%;
    width: 37vh;
}

.item-info {
    font-size: 2vh;
    margin-top: 6vh;
}

.add-to-cart {
    display: flex;
}

.fa-plus, .fa-minus {
    cursor: pointer;
}

.hide {
    visibility: hidden;
}